header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;

    img {
        height: 48px;
        width: auto;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                color: #d99027;
            }
        }
    }
}
