header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;

    img {
        height: 48px;
        width: auto;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                color: #d99027;
            }
        }
    }
}
.primary_section {
    height: 80vh;
    background-image: url("images/Asset 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0 48px;
    color: #f2f2f2;

    h1 {
        font-size: 48px;
        font-weight: 600;
    }

    p {
        width: 40vw;
        font-size: 20px;
    }

}